<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Join Us!</h2>
                   <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
                <div class="col-lg-12 text-center">
                    <p style="font-size:medium;"><p style="color:#DACFCD";>General membership is $20, Please send a request to 
                            join "Cougarettes" on 'Get Involved' through AccessUH. Payment methods are listed below! After we verify your payment, we will add you as a member.
                        Make sure you check out our socials below to get plugged in!
                        </p></p>
                        <p style="color:#DACFCD";>
                                Venmo us at @UH-Cougarettes (Please include your full name and email on the description of your payment.) </p>
                        <!-- <p style="color:#DACFCD";>
                                More payment options</p> -->
                    <div class = row>
                        <div class="col-lg-12 text-center">
                            <a href="https://cougarcs.com/">
                                <img src="img/logos/cougarcs.png" class="img-responsive img-centered" width = 400 alt="" style="display: block; margin-right: auto; margin-left: auto;>
                            </a>
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                    </div>
        </div>

    </section>
